{% load static %}

<div class="container-fluid fixed-top p-0">

    <div class="container-fluid menu">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-8 m-auto d-flex justify-content-between">
                    <div class="col-8 mx-0">
                    <a class="p-2 text-dark" href="{% url 'main_app:articles' 0 %}">Все категории</a>
                    {% for category in categories %}
                    <a class="p-2 text-dark" href="{% url 'main_app:articles' category.pk %}">{{ category.name }}</a>
                    {% endfor %}
                    </div>
                    <div class="col-4 search">

                        <form action="{% url 'main_app:search' %}" class="form-inline">
                            <img src="{% static 'img/search.svg' %}" alt="search">
                            <input type="text" name="search">
                        </form>
                    </div>

                    {% if user.is_superuser %}
                    <a class="p-2 text-dark" href="{% url 'admin:index' %}">Админка</a>
                    {% endif %}


                </div>
                <div class="col-4 m-auto text-center">
                    {% if user.is_authenticated %}
                    <a class="p-2 text-dark" href="{% url 'auth_app:edit' %}">{{ user.username }}</a>
                    <a href="% url 'auth_app:edit' %}">
                        <img class="ava" src="{% get_media_prefix %}{{ user.bloguserprofile.avatar }}" alt="avatar">
                    </a>
                    <a class="p-2 text-dark" href="{% url 'auth_app:logout' %}">Выйти</a>
                    <a class="p-2 text-dark" href="{% url 'account_app:my_articles' %}">Статьи</a>
                    {% else %}
                    <a href="#">
                        <img class="anonim-ava" src="{% static 'img/frame-ava.svg' %}" alt="ava">
                    </a>
                    <a class="p-2 text-dark" href="{% url 'auth_app:login' %}">Войти</a>
                    {% endif %}
                </div>

            </div>

        </div>
    </div>


</div>

